* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    background: radial-gradient(rgb(56, 202, 64), rgb(14, 122, 14));
    background-repeat: no-repeat;
    background-size: cover;
}

#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-bottom: 4px solid rgb(63, 32, 4);
    color: gold;
    background-color: rgb(14, 122, 14);
}

#logo-image {
    width: 32px;
    height: 32px;
}

#main-header {
    font-size: 2rem;
    margin: 0.5em 0;
    text-align: center;
}

#main-section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-info-container {
    text-align: center;
}

#dealer-info-container {
    margin: 1em 0 0 0;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

#player-section,
#dealer-section {
    min-height: 13em;
    display: flex;
    justify-content: center;
    width: 100%;
}

.name-text {
    font-size: 1.2rem;
    margin: 0.5em 0;
}

#scores-container {
    padding-top: 0.5em;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-score,
#dealer-score {
    font-weight: bold;
}

.card-container,
.blank-card-container {
    margin: 1em;
    padding: 0.5em;
    width: 8em;
    height: 11em;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#dealer-face-down-card {
    display: none;
}

#bet-buttons-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bet-button {
    width: 4em;
    margin: 0.5em;
    padding: 0.5em 0.1em;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(204, 205, 207);
    cursor: pointer;
}

#bet-text {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    margin: 1em 0;
    font-weight: 700;
}

.card-suit {
    width: 52px;
    height: 70px;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.card-rank-top {
    font-size: 1.7rem;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
}

.card-rank-bottom {
    font-size: 1.7rem;
    margin: 0;
    justify-self: flex-end;
    align-self: flex-end;
}

#selections-section {
    width: 60%;
    padding: 0.5em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 4px solid rgb(63, 32, 4);
    background-color: rgb(14, 122, 14);
    color: #fff;
}

#hit-button,
#stay-button {
    width: 5em;
    padding: 0.5em 0.1em;
    border-radius: 5px;
    margin: 0.25em;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(204, 205, 207);
    cursor: pointer;
}

.start-new-game-btn,
#double-down-button {
    width: 10em;
    padding: 0.5em 0.1em;
    border-radius: 5px;
    margin: 0.5em;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(204, 205, 207);
    cursor: pointer;
}

#hit-button:disabled,
#stay-button:disabled,
.bet-button:disabled,
.start-new-game-btn:disabled,
#double-down-button:disabled {
    cursor: not-allowed;
}

#game-result-text {
    margin: 0 1em;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

#selections-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total-money-text {
    font-weight: 700;
}

#selection-text {
    margin: 0.5em 0;
    font-weight: 700;
    font-size: 1.1rem;
}

#rules-modal[open] {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(187, 196, 183);
}

#rule-heading {
    margin-bottom: 0.5em;
}

.rule-text {
    margin-bottom: 0.5em;
}

#close-rules-button,
#open-rules-button {
    width: 5em;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(204, 205, 207);
    cursor: pointer;
    padding: 0.2em 0.5em;
    margin: 1em 0.5em;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
}

#close-rules-button:hover,
#open-rules-button:hover,
#open-rules-button:focus,
.start-new-game-btn:hover,
#double-down-button:hover,
.start-new-game-btn:focus,
#double-down-button:focus,
.bet-button:hover,
.bet-button:focus,
#hit-button:hover,
#stay-button:hover,
#hit-button:focus,
#stay-button:focus {
    background-color: rgb(140, 145, 137);
}

#reset-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-payout-text {
    text-align: center;
}

@media (max-width: 850px) {
    #selections-section {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
    }
    #player-section,
    #dealer-section {
        min-height: 7em;
    }
    .card-container,
    .blank-card-container {
        width: 4.5em;
        height: 6em;
        margin: 0.5em;
        padding: 0.2em;
    }
    .card-suit {
        width: 26px;
        height: 35px;
    }
    .card-rank-top,
    .card-rank-bottom {
        font-size: 1.1rem;
        font-weight: 700;
    }
    #scores-container {
        margin: 0 0.5em;
        padding-top: 0;
    }
    .name-text {
        font-size: 1rem;
        margin: 0.5em 0;
    }
    #bet-text {
        margin: 0.5em 0;
    }
    #bet-buttons-container,
    #selections-container {
        width: 50%;
        text-align: center;
    }
    .bet-button {
        width: 5em;
        height: 3em;
    }
    #hit-button,
    #stay-button {
        width: 6em;
        height: 3em;
        font-weight: 700;
    }
    .start-new-game-btn,
    #double-down-button {
        width: 9em;
        height: 3em;
        font-weight: 700;
    }
    #rules-modal[open] {
        width: 95%;
    }
}
