:root {
    --light-grey: rgb(223, 215, 215);
    --medium-grey: rgb(161, 153, 153);
    --off-white: rgb(207, 207, 207);
    --white: rgb(230, 227, 227);
    --medium-red: rgb(177, 8, 8);
    --dark-red: rgb(107, 10, 10);
    --off-black: rgb(5, 5, 5);
    --gold: rgb(252, 215, 8);
    --dark-gold: rgb(141, 120, 4);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: var(--off-black);
}

.button-row-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    cursor: pointer;
    border: 1px solid var(--medium-grey);
    color: var(--light-grey);
    background-color: var(--medium-red);
    margin: 0.5em;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-decoration: none;
    min-width: 4em;
}

.button:hover,
.button:focus {
    background-color: var(--dark-red);
}

button:disabled {
    cursor: not-allowed;
    color: var(--medium-grey);
}

#main-container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-info-container {
    width: 90%;
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#meter-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#shoe-meter {
    margin: 0.25em 0;
    width: 90%;
}

#shoe-label {
    color: var(--off-white);
}

#cards-remaining {
    font-weight: 600;
}

#gameplay-area {
    width: 90%;
    background: radial-gradient(rgb(19, 141, 19), rgb(12, 110, 17));
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px ridge rgb(63, 32, 4);
}

#scores-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

.name-text {
    color: var(--light-grey);
    font-size: 1.2rem;
    margin: 0.5em;
}

#player-score,
#dealer-score {
    font-weight: bold;
}

#player-section,
#dealer-section {
    min-height: 10em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#split-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid var(--gold);
}

#next-hand-button {
    display: none;
}

.card-container,
.blank-card-container {
    margin: 0.5em;
    padding: 0.5em;
    width: 6em;
    height: 8.5em;
    border: 1px solid var(--off-black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: var(--white);
}

#dealer-face-down-card {
    display: none;
}

.card-suit {
    width: 39px;
    height: 52px;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.card-rank-top {
    font-size: 1.5rem;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
}

.card-rank-bottom {
    font-size: 1.5rem;
    margin: 0;
    justify-self: end;
    align-self: end;
}

#money-score-container {
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

#side-bets-button {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    cursor: pointer;
    border: 1px solid var(--off-black);
    color: var(--off-black);
    background-color: var(--gold);
    font-size: 1.1rem;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

#side-bets-button:hover,
#side-bets-button:focus {
    background-color: var(--dark-gold);
}

#side-bets-main-heading {
    margin: 0 0 0.5em 0;
}

.side-bets-sub-heading {
    margin: 1em 0 0.5em 0;
}

#current-side-bets-list {
    margin: 0 0 1em 0;
}

#top-payout-text,
#total-money {
    margin: 0.5em;
}

#top-payout,
#total-money-text {
    display: block;
    text-align: center;
    font-weight: 600;
}

#selections-section {
    width: 90%;
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

#bet-buttons-container,
#selections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#bet-text,
#selection-text {
    color: var(--white);
    text-align: center;
    margin: 0.5em 0 0 0;
    font-weight: 600;
}

#surrender-button {
    align-self: flex-start;
}

.modal[open] {
    max-width: 50%;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--off-black);
    background-color: var(--off-white);
    border: 2px solid var(--off-black);
}

#won-side-bet-text,
#won-side-bet-payout {
    margin: 0.5em 0;
}

.setting-label {
    max-width: 70%;
    text-align: center;
    margin: 0.5em 0 0 0;
}

#number-of-decks-container {
    display: flex;
    flex-direction: column;
}

#number-of-decks-setting {
    cursor: pointer;
    margin: 0 0.5em;
}

#deck-number-options {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
}

#draw-speed-container {
    text-align: center;
}

#rule-heading {
    margin: 0 0 0.5em 0;
}

.rule-text {
    margin-bottom: 0.5em;
}

.close-modal-button {
    padding: 0.25em 0.5em 0 0.5em;
    margin: 0 0.25em;
    align-self: flex-end;
    cursor: pointer;
    background-color: var(--medium-red);
    color: var(--light-grey);
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid var(--off-black);
    border-radius: 5px;
}

.close-modal-button:hover,
.close-modal-button:focus {
    background-color: var(--dark-red);
}

#reset-section {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-result-text,
#game-over-text {
    margin: 0.5em 1em;
    text-align: center;
    font-size: 1.3rem;
    color: var(--off-black);
    font-weight: 700;
}

.hidden {
    display: none;
}

#shuffle-modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    border-radius: 5px;
    border: 2px solid var(--off-black);
    background-color: var(--light-grey);
}

#shuffle-spinner {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    border-left: solid var(--dark-red) 1em;
    border-right: solid var(--dark-red) 1em;
    border-top: solid transparent 1em;
    border-bottom: solid transparent 1em;
    animation-name: rotate-loader;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

#shuffle-spinner-text {
    margin: 1em 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-red);
}

@keyframes rotate-loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 850px) {
    #main-section {
        justify-content: center;
    }
    #gameplay-area,
    #selections-section,
    #bet-buttons-container,
    #selections-container,
    #top-info-container {
        width: 100%;
        max-width: 100%;
    }
    #meter-container {
        width: 50%;
    }
    #selections-section {
        width: 95%;
        flex-direction: column;
    }
    #surrender-button {
        align-self: center;
    }
    #player-section,
    #dealer-section {
        min-height: 7em;
    }
    .card-container,
    .blank-card-container {
        width: 4.5em;
        height: 6em;
        margin: 0.25em;
        padding: 0.2em;
    }
    .card-suit {
        width: 26px;
        height: 35px;
    }
    .card-rank-top,
    .card-rank-bottom {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .modal[open] {
        max-width: 95%;
        width: 95%;
    }
    #game-reset-modal[open] {
        max-width: 95%;
        width: 95%;
        margin: auto auto 5em auto;
    }
}
