* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: rgb(5, 5, 5);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    cursor: pointer;
    border: 1px solid black;
    color: #1c1c1c;
    background-color: rgb(218, 214, 214);
    margin: 0.5em;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: rgb(199, 192, 192);
}

#header-section {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
}

.name-text {
    color: white;
    font-size: 1.2rem;
    margin: 0.5em;
}

#player-score,
#dealer-score {
    font-weight: bold;
}

#main-header {
    font-size: 2rem;
    margin: 0.5em 2em;
    text-align: center;
}

#main-section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameplay-area {
    min-width: 70%;
    max-width: 90%;
    background: radial-gradient(rgb(14, 122, 14), rgb(12, 110, 17));
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px ridge rgb(63, 32, 4);
}

#player-info-container {
    text-align: center;
}

#dealer-info-container {
    margin: 1em 0 0 0;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

#player-section,
#dealer-section {
    min-height: 13em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#total-money {
    margin: 0.5em;
}

.card-container,
.blank-card-container {
    margin: 1em;
    padding: 0.5em;
    width: 8em;
    height: 11em;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#dealer-face-down-card {
    display: none;
}

#bet-buttons-container,
#selections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row-container {
    display: flex;
}

#money-score-container {
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bet-text,
#selection-text {
    text-align: center;
    margin: 0.5em;
    font-weight: 600;
}

.card-suit {
    width: 52px;
    height: 70px;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.card-rank-top {
    font-size: 1.7rem;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
}

.card-rank-bottom {
    font-size: 1.7rem;
    margin: 0;
    justify-self: flex-end;
    align-self: flex-end;
}

#selections-section {
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
}

#game-result-text {
    margin: 1em;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

#rules-modal[open],
#game-reset-modal[open] {
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 214, 214);
    border: 2px solid black;
}

#rule-heading {
    margin: 0.5em 0;
}

.rule-text {
    margin-bottom: 0.5em;
}

#close-rules-button {
    padding: 0.25em 0.5em;
    margin: 0 0.25em;
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(224, 19, 19);
    color: #f3f3f3;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid #575454;
    border-radius: 5px;
}

#close-rules-button:hover,
#close-rules-button:focus {
    background-color: rgb(173, 17, 17);
}

#reset-section {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-payout-text {
    text-align: center;
    margin: 0.5em;
}

@media (max-width: 850px) {
    #selections-section {
        width: 95%;
        flex-direction: column;
        margin: 0;
    }
    #player-section,
    #dealer-section {
        min-height: 7em;
    }
    .card-container,
    .blank-card-container {
        width: 4.5em;
        height: 6em;
        margin: 0.5em;
        padding: 0.2em;
    }
    .card-suit {
        width: 26px;
        height: 35px;
    }
    .card-rank-top,
    .card-rank-bottom {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .name-text {
        font-size: 1rem;
        margin: 0.5em 0;
    }
    #rules-modal[open],
    #game-reset-modal[open] {
        width: 95%;
    }
}
