* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header-section {
    padding: 1em;
}

#main-section {
    padding: 1em;
}

#player-section, #dealer-section {
    display: flex;
}

.card-container, .blank-card-container {
    margin: 1em;
    padding: .5em;
    width: 8em;
    height: 11em;
    border: 1px solid black;
    border-radius: 5px;
}
